@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.2s, color 0.2s;
}
/*Light Mode*/
body {
  background-color: white;
  color: black;
}
/*Dark Mode*/
body.dark {
  background-color: #121212;
  color: white;
}
